<div class="show">
    <head>
        <link rel="stylesheet" type="text/css" href="/app/show/show.component.css">
    </head>
    <div class="show-greentext">
        <div>
            <h4 style="text-align: center;">Resultado(s)</h4>
            <p style="text-align: center;">Deseja realizar uma nova busca?</p>
            <button style="display: block; margin: auto" type="button" class="btn btn-outline-success">Refazer Busca</button>
        </div>
        <br>
        <br>
        <div ng-repeat="result in results">
            <p>Nome parlamentar: {{result._source.nomeParlamentar}}<br>
            Mês: {{result._source.mes}}<br>
            Ano: {{result._source.ano}}<br>
            Descrição: {{result._source.descricao}}<br>
            Fornecedor: {{result._source.fornecedor}}<br>
            Valor documento: {{result._source.valorDocumento}}<br>
            Valor glosa: {{result._source.valorGlosa}}<br>
            Valor liquido: {{result._source.valorLiquido}}<br>
            <br>
        </div>
    </div>
</div>
