<div class="show">
    <head>
        <link rel="stylesheet" type="text/css" href="/app/show/show.component.css">
    </head>
    <div class="show-greentext">
        <div>
            <h4 style="text-align: center;">Resultado(s)</h4>
            <p style="text-align: center;">Deseja realizar uma nova busca?</p>
            <button ng-click="newSearch()" style="display: block; margin: auto" type="button" class="btn btn-outline-success">Nova Busca</button>
        </div>
        <br>
        <br>
        <h5 style="text-align:center">Total de {{total}} gastos encontrados</h5>
        <br>
        <div ng-repeat="gasto in gastos">
            <p>Nome parlamentar: {{gasto._source.nomeParlamentar}}<br>
            Data de emissão: {{gasto._source.dataEmissao}}<br>
            Mês: {{gasto._source.mes}}<br>
            Ano: {{gasto._source.ano}}<br>
            Descrição: {{gasto._source.descricao}}<br>
            Fornecedor: {{gasto._source.fornecedor}}<br>
            Valor documento: {{gasto._source.valorDocumento}}<br>
            Valor glosa: {{gasto._source.valorGlosa}}<br>
            Valor liquido: {{gasto._source.valorLiquido}}<br>
            <br>
        </div>
    </div>
</div>
