<head>
    <link rel="stylesheet" type="text/css" href="/app/searchbox/searchbox.component.css">
</head>

<form ng-submit="spend()" class="search-btns">
    <input class="search-input" ng-model="search" type="text" placeholder="Pesquisar">
    <div class="search-btns">
        <input type="submit" class="btn btn-outline-success" value="Pesquisar"/>
    </div>
    <div>
        <br>
        <br>
        <p>Query: {{rs.query}}</p>
        <p>Intent: {{rs.intents}}</p>
        <p>Entities: {{rs.entities}}</p>
    </div>
</form>
