#texto {
    color: green;
}

#logo {
    text-align: center;

    margin-top: 15%;
    margin-right:center;
    margin-left:center;
}

#searchfield {
    height: 20px;
    width: 30%;
    border-radius: 10px;
}
#box {
}
