<div class="search">
    <head>
        <link rel="stylesheet" type="text/css" href="/app/search/search.component.css">
    </head>

    <form ng-submit="goSearch()" class="app-center search-btns">
        <input class="search-input" ng-model="search" type="text" placeholder="Pesquisar">
        <div class="search-btns">
            <input type="submit" class="btn btn-outline-success" value="Pesquisar"/>
            <button ng-click="clear()" type="button" class="btn btn-outline-success">Limpar</button>
        </div>
    </form>
    <div class="search-greentext">
        <br>
        <br>
        <br>
        <h4>Exemplos</h4>
        <p>Mostrar quais gastos do deputado Kim Patroca Kataguiri no ano 2019</p>
        <p>Quais gastos de Kim Patroca Kataguiri entre 05/03/2019 e 20/11/2019?</p>
        <p>Mostrar Kim Patroca Kataguiri 12/12/2019 e 25/12/2019</p>
        <p>Mostrar 2019 Kim Patroca Kataguiri</p>
        <p>Kim Patroca Kataguiri 2019</p>
        <!--
            <br>
            <p>Quanto o deputado Kim Patroca Kataguiri gastou no ano de 1993?</p>
            <p>Somar quanto Kim Patroca Kataguiri gastou no ano de 1988</p>
            <p>Quanto Kim Patroca Kataguiri gastou entre 23/11/1790 a 04/12/2001?</p>
            <p>Somar Kim Patroca Kataguiri 09/08/1900 a 22/03/1903</p>
        -->
    </div>
</div>
